streamlit
openai
langchain==0.1.17
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
transformers
torch
faiss-cpu
pdf2image
Pillow
tqdm
markdown
sentence-transformers
llama-cloud-services
pypdf
cohere
scikit-learn
